<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="base(title, content)">
<head>
    <title>Classement</title>
    <link href="/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th>N°</th>
            <th>Équipe</th>
            <th>MJ</th>
            <th>G</th>
            <th>N</th>
            <th>P</th>
            <th>BP</th>
            <th>BC</th>
            <th>DB</th>
            <th>Pts</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${ranking}">
            <td th:text="${row.rank()}"></td>
            <td th:text="${row.team().name()}"></td>
            <td th:text="${row.matchPlayedCount()}"></td>
            <td th:text="${row.matchWonCount()}"></td>
            <td th:text="${row.drawCount()}"></td>
            <td th:text="${row.matchLostCount()}"></td>
            <td th:text="${row.goalForCount()}"></td>
            <td th:text="${row.goalAgainstCount()}"></td>
            <td th:text="${row.goalDifference()}"></td>
            <td th:text="${row.points()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>